<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Death</a> & <a target="_blank" href="http://github.com/KenMazaika">Scythe</a>. One web developer who has no idea what he is doing. Trying to figure out where to go step by step and a miss or a throw a away. 
  </p>
  <br />
  <p>
    Together, DeathScythe with ASU, Bootcamp will begin thier tough journey. Nerve racking. Treking through the 1's and 0's to implement something so epic no one has ever seen before. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'index.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Death</h2>
      <br />
      <p>
        Death has been slicing through data from the beginning. whacking everything that comes down the road.  (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) There is nothing more special than loading up the souls to feed Scythe. <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, Eventually they will be the strongest team in history to make it to the top. <a target="_blank" href="http://25dollartravel.com">A MILLION</a> souls after 4 years.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'index2.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Scythe</h2>
      <br />
      <p>
        Scythe was pretty washed up and a hard head. Looking for any soul to feed on before meeting with their good friend Death. (<a target="_blank" href="http://bostinno.streetwise.co/2011/04/13/nearbuys-where-rolls-out-daily-deals/">And the others.</a>) There are many ways to slice and dice but the souls never come easy.<a target="_blank" href="http://yourfreequotes.com/">Making History,</a>
        is much harder than it seems.
      </p>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />
